{% extends 'index.html' %}
{% load staticfiles %}
{% block head %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <!--引入在线脚本文件-->

        <meta charset="UTF-8">
        <title>各地块浏览量统计</title>
        <script src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'js/bootstrap-submenu.js' %}"></script>
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap-submenu.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="https://js.arcgis.com/3.21/dijit/themes/claro/claro.css ">
        <link rel="stylesheet" href="https://js.arcgis.com/3.21/esri/css/esri.css">
        <style>
            html, body, #mapDiv {
                height: 100%;
                margin: 0;
            }

            #info {
                position: absolute;
                right: 0;
                top: 0;
                font: 14px sans-serif;
                background: #fff;
                width: 160px;
                text-align: center;
                border-radius: 0 0 0 10px;
            }
        </style>
        <script src="https://js.arcgis.com/3.21/"></script>
        <script>
            var map;
            <!--dojo 格式先require引用 require中要和function中一一对应-->
            require(["esri/map", "esri/renderers/ClassBreaksRenderer", "esri/layers/WebTiledLayer", "esri/layers/FeatureLayer",
                "esri/InfoTemplate", "esri/renderers/DotDensityRenderer", "esri/symbols/SimpleLineSymbol", "esri/symbols/SimpleMarkerSymbol",
                "esri/dijit/Legend", "esri/Color", "dojo/domReady!"
            ], function (Map, ClassBreaksRenderer, WebTiledLayer, FeatureLayer,
                         InfoTemplate, DotDensityRenderer, SimpleLineSymbol, SimpleMarkerSymbol, Legend, Color) {
                map = new Map("mapDiv");
                <!--引入天地图在线服务-->
                var tileInfo = new esri.layers.TileInfo({
                    "rows": 256,
                    "cols": 256,
                    "compressionQuality": 0,
                    "origin": {
                        "x": -180,
                        "y": 90
                    },
                    "spatialReference": {
                        "wkid": 4326
                    },
                    "lods": [
                        {"level": 2, "resolution": 0.3515625, "scale": 147748796.52937502},
                        {"level": 3, "resolution": 0.17578125, "scale": 73874398.264687508},
                        {"level": 4, "resolution": 0.087890625, "scale": 36937199.132343754},
                        {"level": 5, "resolution": 0.0439453125, "scale": 18468599.566171877},
                        {"level": 6, "resolution": 0.02197265625, "scale": 9234299.7830859385},
                        {"level": 7, "resolution": 0.010986328125, "scale": 4617149.8915429693},
                        {"level": 8, "resolution": 0.0054931640625, "scale": 2308574.9457714846},
                        {"level": 9, "resolution": 0.00274658203125, "scale": 1154287.4728857423},
                        {"level": 10, "resolution": 0.001373291015625, "scale": 577143.73644287116},
                        {"level": 11, "resolution": 0.0006866455078125, "scale": 288571.86822143558},
                        {"level": 12, "resolution": 0.00034332275390625, "scale": 144285.93411071779},
                        {"level": 13, "resolution": 0.000171661376953125, "scale": 72142.967055358895},
                        {"level": 14, "resolution": 8.58306884765625e-005, "scale": 36071.483527679447},
                        {"level": 15, "resolution": 4.291534423828125e-005, "scale": 18035.741763839724},
                        {"level": 16, "resolution": 2.1457672119140625e-005, "scale": 9017.8708819198619},
                        {"level": 17, "resolution": 1.0728836059570313e-005, "scale": 4508.9354409599309},
                        {"level": 18, "resolution": 5.3644180297851563e-006, "scale": 2254.4677204799655}
                    ]
                });
                //底图
                var baseMap = new WebTiledLayer("http://${subDomain}.tianditu.com/vec_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=vec&STYLE=default&TILEMATRIXSET=c&TILECOL=${col}&TILEROW=${row}&TILEMATRIX={level}&FORMAT=tiles",
                    //"http://${subDomain}.tianditu.com/DataServer?T=vec_c&X=${col}&Y=${row}&L=${level}", {
                    {
                        "copyright": "Tianditu",
                        "id": "Tianditu",
                        "subDomains": ["t0", "t1", "t2"],
                        "tileInfo": tileInfo

                    });
                //底图标注
                var baseMapMarker = new WebTiledLayer("http://${subDomain}.tianditu.com/cva_c/wmts?SERVICE=WMTS&REQUEST=GetTile&VERSION=1.0.0&LAYER=cva&STYLE=default&TILEMATRIXSET=c&TILECOL=${col}&TILEROW=${row}&TILEMATRIX={level}&FORMAT=tiles",     //"http://${subDomain}.tianditu.com/DataServer?T=cva_c&X=${col}&Y=${row}&L=${level}", {
                    {
                        "copyright": "Tianditu",
                        "id": "Tianditu2",
                        "subDomains": ["t0", "t1", "t2"],
                        "tileInfo": tileInfo
                    });
                map.addLayer(baseMap);
                map.addLayer(baseMapMarker);
                <!--初始化点击弹窗-->
                var infoTemplate = new InfoTemplate();
                <!--加载自己在arcgis server上发布的服务-->
                var landusePolygonLayer = new FeatureLayer("https://118.89.184.239:6443/arcgis/rest/services/农业/FeatureServer/1", {
                    mode: FeatureLayer.MODE_SNAPSHOT,
                    outFields: ["*"]
                });
                var landusePointLayer = new FeatureLayer("https://118.89.184.239:6443/arcgis/rest/services/农业/FeatureServer/0", {
                    mode: FeatureLayer.MODE_SNAPSHOT,
                    infoTemplate: infoTemplate,
                    outFields: ["*"]
                });

                map.addLayers([landusePolygonLayer, landusePointLayer]);
                <!--设置不同的符号-->
                var symbol = new SimpleMarkerSymbol();
                symbol.setColor(new Color([255, 255, 0, 1]));
                var symbol1 = new SimpleMarkerSymbol();
                symbol1.setColor(new Color([255, 69, 0, 1]));
                symbol1.setSize(5);

                var symbol2 = new SimpleMarkerSymbol();
                symbol2.setColor(new Color([255, 69, 0, 1]));
                symbol2.setSize(10);

                var symbol3 = new SimpleMarkerSymbol();
                symbol3.setColor(new Color([255, 69, 0, 1]));
                symbol3.setSize(20);

                var symbol4 = new SimpleMarkerSymbol();
                symbol4.setColor(new Color([255, 69, 0, 1]));
                symbol4.setSize(30);
                <!--设置等级断点-->
                var renderer = new ClassBreaksRenderer(symbol, "scan");
                renderer.addBreak(0, 3, symbol1);
                renderer.addBreak(3, 10, symbol2);
                renderer.addBreak(10, 30, symbol3);
                renderer.addBreak(30, 50, symbol4);
                <!--给没一个元素设置scan的值-->
                landusePointLayer.on("update-end", function () {
                    //输出其中一个graphic(面要素)的所有属性
                    for (var i = 0; i < landusePointLayer.graphics.length; i++) {
                        //自定义数据，在每个面要素中添加nico属性
                        {% for sacn_num in scan %}
                            if (landusePointLayer.graphics[i].attributes["SEARCH"] == {{ sacn_num.search_id }}) {
                                landusePointLayer.graphics[i].attributes["scan"] = {{ sacn_num.view_count }};
                                console.log(landusePointLayer.graphics[i].attributes);
                            }
                        {% endfor %}
                    }
                });
                console.log(landusePointLayer);
                <!--设置渲染器-->
                landusePointLayer.setRenderer(renderer);
                <!--设置弹窗点击事件-->
                landusePointLayer.on("click", function (evt) {
                    var serch = evt.graphic.attributes.SEARCH;
                    console.log(serch);
                    {% for scans in scan %}
                        var c ={{ scans.search_id}};
                        console.log(c);
                        if (c == serch) {
                            console.log("aaaaaa");
                            infoTemplate.setTitle("{{ scans.title }}");
                            infoTemplate.setContent("<b><br/>" +
                                "<b>{{ scans.content }}<br/><br/>" +
                                "<a href='/personalLand/${SEARCH}/'>查看详情</a><br><br>" +
                                "<img src='../media/{{ scans.image }}'><br>");
                        }
                    {% endfor %}
                });
                <!--设置图例-->
                landusePointLayer.on("load", function () {
                    var legend = new Legend({
                        map: map,
                        layerInfos: [{
                            layer: landusePointLayer,
                            title: "各个地块浏览量"
                        }]
                    }, "legend");
                    legend.startup();
                });
                map.centerAndZoom(new esri.geometry.Point({
                    "x": 117.14,
                    "y": 34.21,
                    "spatialReference": {"wkid": 4326}
                }), 3);
            });
        </script>
    </head>
{% endblock %}
<body>
{% block map %}
    <div id="mapDiv">
        <div id="info">
            <div id="legend"
                 style="margin-top: 60px;z-index: 50;background-color: #ffffff;opacity: 0.88;border-radius: 10px"></div>
        </div>
    </div>
{% endblock %}
</body>
<script>
    $(function () {
        $('[data-submenu]').submenupicker();
    });
</script>
</html>